doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Space+Mono")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header(class="container")
      i(class="rgbhue fa fa-area-chart" id="chart-icon")
      |StockWatch
    main(class="container")
      block content
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
    script(src="https://cdn.socket.io/socket.io-1.7.3.js")
    script(src="https://d3js.org/d3.v4.js")
    script(src="/javascripts/script.js")
